@import url('https://mui.kernelsu.org/internal/colors.css');

:root {
    /* Background colors */
    --bg-primary: var(--background, #fbf8ff);
    --bg-secondary: var(--tonalSurface, #f3f0f9);
    --bg-input: var(--surfaceBright, #fbf8ff);

    /* Text colors */
    --text-constant: var(--onSurface, #1b1b21);
    --text-primary: var(--onSurface, #1b1b21);
    --text-muted: #757575;

    /* Border colors */
    --border-color: var(--outlineVariant, #c7c5d0);
    --border-alt: var(--filledTonalButtonContentColor, #e1e0f9);
    --border-alt-text: var(--filledTonalButtonContainerColor, #444559);

    /* Scroll bar colors */
    --scroll-bar-color: #ddd;

    /* Button colors */
    --btn-primary: var(--primary, #565992);
    --btn-primary-text: var(--onPrimary, #fff);
    --btn-delete: #f26767;
    --btn-edit: var(--error, #f6e052);

    /* Prompt colors */
    --prompt-success: #4CAF50;
    --prompt-error: #f44336;

    /* Shadow colors */
    --shadow-light: rgba(0, 0, 0, 0.2);
    --shadow-medium: rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Background colors */
        --bg-primary: var(--background, #131318);
        --bg-secondary: var(--tonalSurface, #1c1c24);
        --bg-input: var(--surfaceBright, #2c2c30);

        /* Text colors */
        --text-constant: var(--onSurface, #e4e1e9);
        --text-primary: var(--onSurface, #e4e1e9);
        --text-muted: #C2C2C2;

        /* Border colors */
        --border-color: var(--outlineVariant, #46464f);
        --border-alt: var(--filledTonalButtonContainerColor, #444559);
        --border-alt-text: var(--filledTonalButtonContentColor, #e1e0f9);

        /* Button colors */
        --btn-primary: var(--primary, #bfc2ff);
        --btn-primary-text: var(--onPrimary, #272b60);

        /* Scroll bar colors */
        --scroll-bar-color: #666;
    }
}
