.document-content {
    position: fixed;
    padding-bottom: calc(var(--bottom-inset) + 80px);
    width: 100%;
    background-color: var(--bg-primary);
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    touch-action: pan-y;
    z-index: var(--z-index-slide-menu);
}

.document-content.show {
    transform: translateX(0);
}

.document-cover {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    z-index: var(--z-index-document-cover);
    transition: opacity 0.3s ease;
}

#about-document-content {
    max-height: none;
    overflow-y: visible;
    width: 100%;
    padding: 0 20px;
    padding-bottom: calc(var(--bottom-inset) + 80px);
    box-sizing: border-box;
}

.file-name-editor {
    display: none;
    font-weight: normal;
    pointer-events: auto;
}

.file-name-editor input {
    min-width: 2em;
    background-color: transparent;
    color: inherit;
    font-size: 1em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--border-color);
}

.slide-menu {
    background-color: var(--bg-primary);
    transform: translateX(100%);
    transition: transform 0.2s ease;
    touch-action: pan-y;
    z-index: var(--z-index-slide-menu);
}

.terminal {
    font-size: 0.8em;
    width: 100%;
    height: calc(100% - 64px);
    padding: 10px;
    padding-bottom: calc(80px + 10px);
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-y: auto;
    mask-image: linear-gradient(black 0%, black calc(100% - 16px), transparent 100%);
}

.tcpdump-search {
    display: none;
}

.tcpdump-header {
    margin-bottom: 10px;
}

.tcpdump-header-content {
    font-family: monospace;
    margin: 0;
}

.tcpdump-line {
    display: flex;
    gap: 5px;
    padding: 5px 0;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}

.tcpdump-line-header {
    font-weight: bold;
    border-width: 2px;
}

.tcpdump-type {
    flex-shrink: 0;
    width: 5em;
}

.tcpdump-domain {
    background-color: var(--bg-secondary) !important;
}

.action-terminal-output {
    margin: 0;
    font-family: monospace;
}
